*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* tag-header */
.banner-superiore{ 
    background-color: rgb(49, 138, 211);
    height: 130px;
    background-image: url(../img/pattern.png);
    background-size: 550px;
    
}
#logo{
    width: 180px;
    height: 150px;
    margin-top: 30px;
   }
/* fine tag-header */
/* inizio tag main */
#link{
    color:rgb(59, 183, 231);
}
#data{
    font-size:10px;
    display: block;
    padding-bottom:20px;
}
#caption{
    display: block;
    font-size: 10px;
}
.articolo{
    padding-top:20px;
    padding-bottom: 20px;
}
#lista{
    padding-left: 17px;
}
table{
    margin: 30px 10px 30px 10px;
    border-collapse: collapse;
}
#thead{
    background-color: rgb(61, 170, 233);
    text-align: left;
    color: white;
    }
.dispari{
    background-color: lightblue;
}
.elemento{
    width: 25%;
}
